<tr id="<%= ticket_type.css_class %>">
  <td><%= ticket_type.name %></td>
  <td><%= ticket_type.price_vnd %></td>
  <td style="width: 40%">
    <input type="hidden" name="ticket_ids[]" value="<%= ticket_type.id %>">
    <div class="input-field col m4 offset-m4">
      <select id="input-<%= ticket_type.id %>" name="ticket_quantities[]" style="text-align: center">
        <% ticket_type.available_quantity.each do |value| %>
            <option value="<%= value %>"><%= value %></option>
        <% end %>
      </select>
    </div>
  </td>
</tr>
