<div class="col m6">
  <div class="card">
    <div class="card-image">
      <%= link_to event_link(event, is_edit) do %>
          <%= image_tag event.image, width: 500, height: 250, class: 'background-blur' %>
      <% end %>
      <span class="card-title"><b><%= event.name %></b></span>
    </div>
    <div class="card-content">
      <p>
        <%= event.short_description %>
      </p>
    </div>
    <div class="card-action">
      <span><%= event.category.name %></span>
      <span class="right"><%= event.venue.address %></span>
    </div>
  </div>
</div>