<div class="row">
  <div class="col m8 offset-m2">
    <h3><%= title %></h3>
    <%= render 'share/error', errors: @errors %>
    <%= form_for @event, method: :post do |_| %>
        <div class="col m6" style="padding-left: 0">

          <!-- Category -->
          <div class="card">
            <div class="card-content">
              <span class="card-title">Category</span>

              <select name="event[category_id]">
                <% @categories.each do |category| %>
                    <option value="<%= category.id %>" <%= @event.selected_category(category.id) %>><%= category.name %></option>
                <% end %>
              </select>
            </div>
          </div>

          <!-- Venue -->
          <div class="card">
            <div class="card-content" style="padding-bottom: 70px">
              <span class="card-title">Venue</span>

              <div class="input-field">
                <input id="venue" name="venue[name]" type="text" value="<%= @event.venue_name %>">
                <label for="venue" id="label-input">Name</label>
              </div>

              <select name="venue[region_id]">
                <% @regions.each do |region| %>
                    <option value="<%= region.id %>" <%= @event.selected_region(region.id) %>><%= region.name %></option>
                <% end %>
              </select>
            </div>
          </div>
        </div>

        <!-- Event -->
        <div class="col m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Event</span>

              <div class="input-field">
                <input id="name" name="event[name]" type="text" value="<%= @event.name %>">
                <label for="name" id="label-input">Name</label>
              </div>

              <div class="input-field">
                <input id="description" name="event[description]" type="text" value="<%= @event.description %>">
                <label for="description" id="label-input">Description</label>
              </div>

              <div class="row">
                <div class="col m6" style="padding-left: 0">
                  <div class="input-field">
                    <input type="date" class="datepicker" value="<%= @event.start_at %>" name="event[start_at]" placeholder="Start date">
                  </div>
                </div>

                <div class="col m6">
                  <div class="input-field">
                    <input type="date" class="datepicker" value="<%= @event.end_at %>" name="event[end_at]" placeholder="End date">
                  </div>
                </div>
              </div>

              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" checked="<%= @event.checked %>" name="event[is_hot]"/>
                <label for="filled-in-box">IS HOT</label>
              </p>

              <div class="file-field input-field">
                <div class="btn">
                  <span>Image</span>
                  <input type="file">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" name="event[image]">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Ticket Type -->
        <div class="col m12" style="padding-left: 0">
          <div class="card">
            <div class="card-content">
              <div id="ticket-container">

              </div>
              <a class="white-text btn waves-effect waves-light modal-trigger" href="#ticket-modal">
                Add Ticket Type
              </a>
              <%= render 'ticket_types/new' %>
            </div>
          </div>
        </div>

        <!-- Button -->
        <button class="btn waves-effect waves-light" id="btn-book">
          <b>Create</b>
        </button>
    <% end %>
  </div>
</div>

<script>
  Number.prototype.format = function (n, x) {
    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
    return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&.') + " VND";
  };

  $('#ticket-btn').click(function () {
    var price = parseInt($('#price').val() || 100000);
    var name = $('#ticket-name').val() || "VIP";
    var min = parseInt($('#minimum_quantity').val() || 1);
    var max = parseInt($('#max_quantity').val() || 20);
    $('#ticket-container').prepend(
        "<div class='chip' style='margin-bottom: 8px; margin-right: 4px'>"
        + name + " - " + price.format()
        + "<i class='material-icons'>close</i><br>"
        + "<input type='hidden' name='ticket_types[][max_quantity]' value='" + max + "'>"
        + "<input type='hidden' name='ticket_types[][minimum_quantity]' value='" + min + "'>"
        + "<input type='hidden' name='ticket_types[][price]' value='" + price + "'>"
        + "<input type='hidden' name='ticket_types[][name]' value='" + name + "'>"
        + "</div>"
    )
  });
</script>