<div class="row">
  <div class="col m4">
    <div class="card">
      <div class="card-content">
        <p class="info">
          <i class="tiny material-icons">library_books</i><span class="text-info">Ticket Type</span>
        </p>
        <hr>
        <%= render @ticket_types %>
      </div>

      <div class="card-action">
        <%= form_tag new_order_path, method: :get do %>
            <input type="hidden" name="event_id" value="<%= @event.id %>">
            <button class="btn waves-effect waves-light" id="btn-book" <%= @event.check_out_disable %>>
              <b><input type="submit" value="<%= @event.check_out_title %>"></b>
            </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col m8">
    <div class="card">
      <div class="card-image">
        <%= image_tag @event.image %>
        <span class="card-title"><b><%= @event.name %></b></span>
      </div>
      <div class="card-content">
        <p>
          <%= @event.description %>
        </p>
        <hr>
        <p class="info">
          <i class="tiny material-icons">schedule</i><span class="text-info"><%= @event.start_at %></span>
        </p>
        <p class="info">
          <i class="tiny material-icons">alarm_off</i><span class="text-info"><%= @event.end_at %></span>
        </p>
        <p class="info">
          <i class="tiny material-icons">view_module</i><span class="text-info"><%= @event.category.name %></span>
        </p>
        <p class="info">
          <i class="tiny material-icons">location_on</i><span class="text-info"><%= @event.venue.address %></span>
        </p>
      </div>
    </div>
  </div>
</div>