<!DOCTYPE html>
<html>
<head>
  <title>Billet Ami</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<%= render 'share/navbar' %>
<%= render 'share/message' %>

<main style="margin-bottom: 0">
  <%= yield %>
</main>

<%= render 'share/footer' %>

</body>
</html>

<script>
  $(document).ready(function () {
    $('input#input_text, textarea#textarea1').characterCounter();
    $('select').material_select();
  });

  $(document).ready(function () {
    $('select').material_select();
  });

  $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

  $(document).ready(function () {
    $('.tooltipped').tooltip({delay: 50});
  });

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
</script>
